.navb{
    background-color: white;
}
.title{
    text-align: center;
}
.subtitle{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
}
.hbar {
    width: auto; 
    background-color: rgb(135, 135, 135); 
    height: 620px; 
    margin-right: 10%; 
    margin-left: 10%; 
    margin-bottom: 80px; 
    margin-top: 80px;
}
.hotels {
    height: auto;
    width: 360px;
    background-color: azure;
    margin-left: 5%;
    margin-bottom: 40px;
    margin-top: 40px;
}
/* sign_in and sign_up*/

.b {
    height: 100%;
}

.main {
    text-align: center;
    padding-top: 200px;
    
}

.input-mail {
    padding: 10px;
    width: 344px;
    height: 20px;

}

.login {
    padding: 26px
}

.input-login {
    padding: 10px;
    width: 344px;
    height: 20px;

}

.input-password {
    padding: 10px;
    width: 344px;
    height: 20px;
}

.password {
    padding: 26px
}

.button-sign-up {
    width: 360px;
    height: 40px;
    background-color: black;
    color: white;
}

.input-password {
    padding: 10px;
    width: 344px;
    height: 20px;
}

.password {
    padding: 26px
}

.button-sign-in {
    width: 360px;
    height: 40px;
    background-color: black;
    color: white;
}

.html {
    background-color: #f2f2f2;
}

.sign-in {
    padding: 26px;
}

.reg-href {
    color: black;
}

/* Client room */

.pcr {
    position: absolute;
    width: 100%;
    height: 70%;  
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.cr {
    height: 100%;
}

.ah {
    width: 55%;
    background-color: #C4C4C4;
    margin-right: 5%;
}

.ayo {
    width: 40%;
    background-color: #C4C4C4;
}

.foot {
    width: 100%;
    height: 100px;
    background-color: gainsboro;

}

/* Order */

.or {
    position: absolute;
    width: 100%;
    height: 75%;  
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 7%;
    margin-bottom: 7%;
}
